
body {
  overflow-x: hidden; }

.main {
  height: 6300px;
  margin: 0; }

.navbar {
  position: fixed;
  top: 0;
  background-color: rgba(15, 69, 109, 0.97);
  height: 120px;
  line-height: 120px;
  -webkit-transition: height .5s, line-height .5s;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #e2f0fb; }
  .navbar ul {
    list-style: none;
    margin-top: 64px;
    margin-right: 24px;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .navbar .kbc-logo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    height: 50px;
    -webkit-transition: all .6s;
    transition: all .6s; }

@media only screen and (min-width: 320px) {
  .navbar-collapse {
    margin-top: -51px;
    background-color: rgba(15, 69, 109, 0.97); } }

@media only screen and (min-width: 320px) {
  .navbar-collapse {
    margin-top: -300px; } }

@media only screen and (min-width: 1024px) {
  .navbar-collapse {
    margin-top: -300px; } }

.introduction {
  background-color: rgba(15, 69, 109, 0.86);
  text-align: center;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat; }

.intro-text {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: 200px;
  font-size: 72px;
  font-family: 'Josefin Sans', sans-serif;
  color: #e2f0fb; }
  @media only screen and (min-width: 320px) {
    .intro-text {
      color: #e2f0fb;
      font-size: 28px; } }
  @media only screen and (min-width: 480px) {
    .intro-text {
      color: #e2f0fb;
      font-size: 54px; } }
  @media only screen and (min-width: 768px) {
    .intro-text {
      color: #e2f0fb;
      font-size: 54px; } }
  @media only screen and (min-width: 1024px) {
    .intro-text {
      color: #e2f0fb;
      font-size: 72px; } }

.kbcHeading {
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif;
  color: #061928; }
  .kbcHeading p {
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    color: #061928; }
    @media only screen and (min-width: 320px) {
      .kbcHeading p {
        font-size: 16px; } }
    @media only screen and (min-width: 480px) {
      .kbcHeading p {
        font-size: 18px; } }
    @media only screen and (min-width: 768px) {
      .kbcHeading p {
        font-size: 28px; } }
    @media only screen and (min-width: 1024px) {
      .kbcHeading p {
        font-size: 28px; } }

.kbcHeading2 {
  margin-top: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #061928; }
  .kbcHeading2 strong {
    font-family: 'Oxygen', sans-serif;
    color: #e2f0fb; }
  @media only screen and (min-width: 320px) {
    .kbcHeading2 {
      font-size: 12px; } }
  @media only screen and (min-width: 480px) {
    .kbcHeading2 {
      font-size: 18px; } }
  @media only screen and (min-width: 768px) {
    .kbcHeading2 {
      font-size: 28px; } }
  @media only screen and (min-width: 1024px) {
    .kbcHeading2 {
      font-size: 28px; } }

.aboutMe {
  border: 1px solid #CB2027;
  font-family: 'Oxygen', sans-serif;
  height: 1800px;
  margin-bottom: -20px;
  background-color: #0f6d37; }
  .aboutMe .masthead {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url("../images/kbc-fam-selfie-1024.png"); }
    @media only screen and (min-width: 320px) {
      .aboutMe .masthead {
        background-image: url("../images/kbc-fam-selfie-350.png");
        background-size: 100%;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 480px) {
      .aboutMe .masthead {
        background-image: url("../images/kbc-fam-selfie-375.png");
        background-size: 100%;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 640px) {
      .aboutMe .masthead {
        background-image: url("../images/kbc-fam-selfie-640.png");
        background-size: 100%;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 768px) {
      .aboutMe .masthead {
        background-image: url("../images/kbc-fam-selfie-768.png");
        font-size: 68px;
        background-size: 100%;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 1024px) {
      .aboutMe .masthead {
        background-image: url("../images/kbc-fam-selfie-1024.png");
        background-size: cover;
        margin: 0;
        background-repeat: no-repeat; } }
  .aboutMe h4 {
    padding-top: 25px;
    padding-left: 100px;
    padding-bottom: 24px;
    font-size: 32px;
    color: #e2f0fb; }
    @media only screen and (min-width: 320px) {
      .aboutMe h4 {
        font-size: 9px; } }
    @media only screen and (min-width: 480px) {
      .aboutMe h4 {
        font-size: 18px; } }
    @media only screen and (min-width: 640px) {
      .aboutMe h4 {
        font-size: 26px; } }
    @media only screen and (min-width: 768px) {
      .aboutMe h4 {
        font-size: 30px; } }
    @media only screen and (min-width: 1024px) {
      .aboutMe h4 {
        font-size: 32px; } }
  .aboutMe h5 {
    text-align: center;
    font-size: 20px;
    color: #e2f0fb; }
  .aboutMe strong {
    color: #061928; }
  .aboutMe p {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: #061928;
    padding-left: 100px;
    text-align: left; }

.skills {
  height: 984px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: #e2f0fb; }

h1 {
  font-size: 46px; }

h4 {
  padding-top: 25px;
  padding-left: 100px;
  padding-bottom: 24px;
  font-size: 32px;
  color: #e2f0fb; }

h5 {
  text-align: center;
  font-size: 20px;
  color: #e2f0fb; }

strong {
  color: #061928; }

p {
  text-align: center;
  font-size: 44px; }

.skill-list {
  padding-top: 20px;
  font-size: 20px; }

.hrSkill {
  margin: auto;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.portfolio {
  margin-top: 10px;
  padding: 10px;
  text-align: center; }
  .portfolio img {
    width: 100%; }

.contact {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  background-color: #30404c; }

.contactMe {
  margin: 0 auto;
  padding-top: 12em;
  width: 100%; }
  .contactMe h1 {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    color: #e2f0fb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px; }
  .contactMe strong {
    color: #0f6d37; }
  .contactMe .icons {
    margin: auto;
    width: 85px; }

li.navAbout a:hover {
  color: #0f6d37 !important; }

li.navSkills a:hover {
  color: #15619a !important; }

li.navPortfolio a:hover {
  color: mediumseagreen !important; }

li.navContact a:hover {
  color: #061a2a !important; }

.logo, .navAbout, .navSkills, .navPortfolio, .navContact, .navLinks, .navLogin {
  cursor: pointer; }

.cabo {
  display: block;
  margin: 0 auto;
  height: 10%;
  border-radius: 15px 50px;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  padding: 18px; }

hr.faded {
  height: 2px;
  border: 0;
  width: 25%;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }

img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out; }

.contactkbc:hover {
  cursor: pointer; }

.skill-row {
  margin: 100px auto;
  width: 60%; }

.skill {
  width: 50%;
  font-size: 30px; }
  .skill .skill-names {
    text-align: left; }
  .skill .skill-stars {
    text-align: left; }
  .skill img {
    width: 12%;
    margin: 0 6px; }

.social-icons {
  margin: 0 auto; }

.contactkbc {
  margin: 0 auto;
  width: 50%; }

.submitProject {
  height: 900px;
  margin: auto;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: #e2f0fb; }
  .submitProject .projectInfo {
    border: 1px solid #CB2027;
    margin: 0 auto;
    width: 35%; }
    .submitProject .projectInfo input {
      color: #000; }
    .submitProject .projectInfo label {
      padding: 6px; }

.portfolioItem {
  background-color: #0275B6;
  padding: 10px; }

.scrolled-nav {
  height: 40px !important;
  line-height: 40px !important;
  margin-top: 12px; }
  .scrolled-nav .kbc-logo {
    margin-top: 2px;
    height: 30px; }
  .scrolled-nav ul {
    margin-top: 0px;
    -webkit-transition: all .5s;
    transition: all .5s; }
