
body {
  overflow-x: hidden; }

.main {
  height: 6300px;
  margin: 0 auto; }

.navbar {
  display: block;
  background-color: rgba(15, 69, 109, 0.97);
  height: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 58px; }
  .navbar .kbc-logo {
    margin-top: 12px;
    width: 100px; }

.nav {
  margin: 10px; }

.introduction {
  background-color: rgba(15, 69, 109, 0.86);
  text-align: center;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat; }

.intro-text {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  font-size: 6em;
  font-family: 'Josefin Sans', sans-serif;
  color: #e2f0fb; }

.kbcHeading {
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif;
  color: #061928; }
  .kbcHeading p {
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    color: #061928; }

.kbcHeading2 {
  margin-top: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #061928; }
  .kbcHeading2 strong {
    font-family: 'Oxygen', sans-serif;
    color: #e2f0fb; }

.aboutMe {
  font-family: 'Oxygen', sans-serif;
  height: 1800px;
  margin-bottom: -20px;
  background-color: #0f6d37; }
  .aboutMe h1 {
    height: 600px;
    background-image: url("../images/kbc-fam-selfie.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    padding-top: 128px;
    text-align: center;
    font-size: 68px;
    color: #e2f0fb; }
  .aboutMe h4 {
    padding-top: 25px;
    padding-left: 100px;
    padding-bottom: 24px;
    font-size: 32px;
    color: #e2f0fb; }
  .aboutMe h5 {
    text-align: center;
    font-size: 20px;
    color: #e2f0fb; }
  .aboutMe strong {
    color: #061928; }
  .aboutMe p {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: #061928;
    padding-left: 100px;
    text-align: left; }
  .aboutMe .arrow {
    height: 60px;
    width: 100px;
    margin-left: 820px;
    margin-top: -900px; }

.skills {
  height: 984px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: #e2f0fb; }

h1 {
  font-size: 46px; }

h4 {
  padding-top: 25px;
  padding-left: 100px;
  padding-bottom: 24px;
  font-size: 32px;
  color: #e2f0fb; }

h5 {
  text-align: center;
  font-size: 20px;
  color: #e2f0fb; }

strong {
  color: #061928; }

p {
  text-align: center;
  font-size: 44px; }

.skill-list {
  padding-top: 20px;
  font-size: 20px; }

.hrSkill {
  margin: auto;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.portfolio {
  height: 1500px;
  display: inline-block;
  margin-top: 25px;
  padding: 10px;
  width: 25%;
  text-align: center; }
  .portfolio img {
    width: 100%; }

.contact {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  background-color: #30404c; }

.contactMe {
  margin: 0 auto;
  padding-top: 12em;
  width: 100%; }
  .contactMe h1 {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    color: #e2f0fb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px; }
  .contactMe strong {
    color: #0f6d37; }
  .contactMe .icons {
    margin: auto;
    width: 85px; }

li.navAbout a:hover {
  color: #0f6d37 !important; }

li.navSkills a:hover {
  color: #15619a !important; }

li.navPortfolio a:hover {
  color: mediumseagreen !important; }

li.navContact a:hover {
  color: #061a2a !important; }

.logo, .navAbout, .navSkills, .navPortfolio, .navContact, .navLinks, .navLogin {
  cursor: pointer; }

.cabo {
  display: block;
  margin: 0 auto;
  height: 10%;
  border-radius: 15px 50px; }

hr.faded {
  height: 2px;
  border: 0;
  width: 25%;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }

img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out; }

.contactIcons {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  padding: 18px; }

.contactkbc:hover {
  cursor: pointer; }

.skill-row {
  margin: 100px auto;
  width: 60%; }

.skill {
  width: 50%;
  font-size: 30px; }
  .skill .skill-names {
    text-align: left; }
  .skill .skill-stars {
    text-align: left; }
  .skill img {
    width: 12%;
    margin: 0 6px; }

.social-icons {
  margin: 0 auto; }

.contactkbc {
  margin: 0 auto;
  width: 50%; }

.submitProject {
  height: 900px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #15619a;
  color: #e2f0fb; }
  .submitProject .projectInfo {
    border: 1px solid #CB2027;
    margin: 0 auto;
    width: 35%; }
    .submitProject .projectInfo input {
      color: #000; }
    .submitProject .projectInfo label {
      padding: 6px; }
